.bg {
    background-color: #F5F5F5;
}


.sideBar-container {
    width: 72px;
    height: 932px;
    flex-shrink: 0;
    background-color: #ffffff;
}

.icon-ict {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 266px;
}

.icon {
    width: 72px;
    height: 72px;
    flex-shrink: 0;
    mix-blend-mode: lighten;
}

.layar-merah {
    background: #FF5353;
    width: 72px;
    height: 72px;
    flex-shrink: 0;
    position: absolute;
    transition-duration: 300ms;
}

.layar-abuabu {
    background: #B0B0B0;
    width: 65px;
    height: 288px;
    flex-shrink: 0;
    position: absolute;
    margin-left: 8px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.select-qrcode {
    transform: translateY(0%);
}
.select-text {
    transform: translateY(100%);
}

.select-vidio {
    transform: translateY(200%);
}

.select-jadwal {
    transform: translateY(300%);
}